.more-button-wrapper {
  justify-self: right;
  .more-button {
    background-color: #f5f5f5;
    border: none;
    justify-self: end;
    border-radius: 100px;
    padding: 5px 15px 5px 15px;
    outline: none;
  }

  .more-button:hover {
    color: #9b9b9b;
    background-color: #f9f9f9;
  }
}
