**/*.svg
package-lock.json
/node_modules
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
.flowconfig
/public
cloudbuild.yaml
.eslintrc
.prettierrc
nginx.conf
**/*.otf
**/*.snap