.rec-app-item-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  grid-gap: 0 5px;
  .reco-app-item-wrapper-inner {
    display: flex;
    flex-direction: column;
  }
}
