.pickup-edition-wrapper {
  background-color: #fff;
  // grid-column: span 2;
  display: grid;
  grid-template-rows: fit-content fit-content;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 0px;
  padding: 20px;
}
