.ranking-container-wrapper {
  max-width: 1000px;
  background-color: #fff;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 0px;
  padding: 20px;
}
